
.course-details-form {
  display: flex;
  flex-direction: column;
}

.course-type {
  margin-top: 15px;
  margin-bottom: 15px;
}

.course-downloads {
  margin-bottom: 15px;
}

// Attempts to get the prefix and suffix aligned with the input, 
// on the bottom of the line
// None of these work

// #fixex * {
// display: inline-flex;
// align-items: center;
// }

// .mat-mdc-form-field-icon-prefix * {
//   color: blue;
// }
//   font-weight: !important bold;

// .mat-mdc-form-field-icon-prefix span {
//   color: lightblue;
// }

mat-radio-button {
  margin-right: 5px;
}

// Must use ng-deep and .mat-calendar-body-cell for this to be applied
// Could be placed in styles.scss to be applied globally?
::ng-deep .mat-calendar-body-cell.highlight-date {
  background: lightcoral;
}