body {
    margin: 0;
}

main {
    margin: 30px;
}

mat-toolbar a {
  color: white;
}

/* Trying to get the icons and spans vertically aligned */
/* None of this worked */
/* mat-sidenav mat-nav-list mat-list-item { */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: nowrap; */
/* } */

mat-sidenav mat-nav-list mat-icon {
  /* display: flex; */
  /* margin-top: 16px; */
  margin-right: 8px;
  /* align-self: bottom; */
  /* flex-wrap: nowrap; */
  /* background-color: blue; */

}

/* mat-sidenav mat-nav-list span { */
  /* display: flex; */
  /* display: inline-block; */
  /* padding-bottom: 8px; */
  /* margin-bottom: 16px; */
  /* background-color: brown; */
/* } */
